<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>61358708489-a71kb6u9c1kimb4vr5f8i5c6ifh9hjuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61358708489-a71kb6u9c1kimb4vr5f8i5c6ifh9hjuh</string>
	<key>API_KEY</key>
	<string>AIzaSyAU9tie58fDvZRO3ua48gIOqazzYqnGiYI</string>
	<key>GCM_SENDER_ID</key>
	<string>61358708489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mangesh.Rangoli</string>
	<key>PROJECT_ID</key>
	<string>rangoli-2587a</string>
	<key>STORAGE_BUCKET</key>
	<string>rangoli-2587a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61358708489:ios:947108c8941bd57c</string>
	<key>DATABASE_URL</key>
	<string>https://rangoli-2587a.firebaseio.com</string>
</dict>
</plist>